@import '../../index.scss';



.header {
    
    padding-top: 6rem;
    width: 100%;
    height: 100vh;

    &__text {
        font-size: 4rem;
        font-weight: 350;
        padding: 4rem 1.2rem;
        position: absolute;
        text-decoration: none;
        z-index: 20000;

        
    }

    &__format {
        text-decoration: none;
        color: #fff;
    }

    &__details {
        color: #fff;
        position: absolute;
        right: 1px;
        left: 1px;
        bottom: 65px;
        text-align: center;
        line-height: 1.3;
    
        &--01 {
            font-weight: 600;
            font-size: 5rem;
            letter-spacing: 1px;
            text-transform: uppercase; 

            @media only screen and (max-width: $bp-medium) {
                font-size: 4rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            }
        
        }

            
       &--02 {
        font-weight: 100;
        font-size: 2rem;
        
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
        }
        
        }

    }
    
}

.slide {
    width: 100%;
    height: 100vh;
    padding-bottom: 6rem;
    opacity: .75;
    transition: all, .3s;
}
