@import '../../index.scss';

.footer {
    background-color: $color-primary-dark;
    
    
    .copyright {
        font-size: 1.4rem;
        font-weight: 300;
        color: $color-grey-light-1;
        padding: 5rem;
        text-align: center;
        
        @media only screen and (max-width: $bp-smallest) {
            padding: 3rem;
        }
    }
    
    
}