@import '../../index.scss';

.weddings {
    background-color: $color-grey-light-1;
    text-align: center;
    
    &__heading {
        padding-top: 3rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 2px;
        transition: all .2s;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 1.7rem;
        }

        &:hover {
            transform: skewY(1deg) skewX(7deg) scale(1.1);
        }
        
    }
    
    &__list {    
        
        
    }
    
    &__layout {
        width: 80%;
        
        margin: 2rem auto;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        @media only screen and (max-width: $bp-medium) {
            width: 90%;
        }
        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }

    }
    
    &__details {
        display: table-cell;
        width: 66.66667%;
        vertical-align: middle;
        padding: 1rem 2rem;
        text-align: center;
    }

    &__img {
        display: table-cell;
        width: 33.3333%;

         @media only screen and (max-width: $bp-smallest) {
            display: flex;
            justify-content: center;
            position: relative;
            width: 40%;
            margin: 1rem auto;
            
            
        }

        &--one, &--two {
            display: block;
            width: 100%;

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 1rem;
                
            }

        }

        &--two {
            @media only screen and (max-width: $bp-smallest) {
                margin-left: 1rem;
                
            }
        }

        @media only screen and (max-width: $bp-medium) {
            padding-top: 3rem;
        }
    }

}

.heading {

    &--1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-primary-dark;
        text-transform: uppercase;
        margin: 2rem auto;
        letter-spacing: 2px;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin-top: 0;
        }
        

    }
    
    

    &--2 {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
        }

    }

    &--3 {
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1.7;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark-1;

        @media only screen and (max-width: $bp-small) {
            column-count: 1 !important;
        }
        
    }

    
    
}